<div class="relative w-full m-0">
  <img class="background w-full" src="./assets/header-bg.png" alt="">
  <div class="absolute top-0 mt-5 ml-5 mr-5 lg:mt-20 lg:ml-20">
    <div class="heading text-2xl lg:text-4xl uppercase text-white font-bold">College Predictor</div>
    <div class="subtitle mt-5 mb-5 lg:mb-10 sm:w-3/4 lg:w-1/2 text-white text-sm lg:text-lg">Predict you JEE rank with Lambdacube's rank predictor. Also get to know more about the IITs you can get based on your predicted rank with our college predictor.</div>
    <div class="header-actions">
      <div class="button-primary font-bold bored rounded-full text-white bg-blue-700 px-8 py-2 cursor-pointer inline-block text-sm hover:bg-blue-600" (click)="navigate('home')">Get started</div>
    </div>
  </div>
</div>
