<div class="relative w-full m-0">
  <img class="background h-80 lg:h-auto w-full bg-cover" src="./assets/header-bg.png" alt="">
  <div class="absolute top-0 mt-0 ml-5 mr-5 lg:mt-0 lg:ml-20">
    <a href="https://lambdacube.in/">
      <img src="./assets/logo.png" class="w-32 my-5 lg:w-60 lg:my-10"/>
    </a>
    <div class="subtitle mt-0 lg:mb-5 text-white text-lg text-bold lg:text-2xl">Wondering which IIT could be your next dream destination?</div>
    <div class="subtitle mt-0 mb-5 lg:w-3/4 text-white text-sm lg:text-lg">Predict your JEE-Advanced AIR and also the best IIT courses you can possibly get with LambdaCube's Rank and College Predictor.</div>
    <div class="header-actions">
      <div class="button-primary font-bold bored rounded-full text-white bg-blue-700 px-8 py-2 cursor-pointer inline-block text-sm hover:bg-blue-600" (click)="navigate('home')">Get started</div>
    </div>
  </div>
</div>
