<a href="https://lambdacube.in/book-a-free-demo/">
  <div class="relative flex flex-col items-center justify-center lg:w-1/2 overflow-y-hidden mx-10 lg:mx-auto my-10 max-h-24 rounded-lg cursor-pointer">
    <img src="./assets/blue-wave.png" alt="" class="rounded rounded-lg">
    <div class="absolute text-white flex flex-col items-center px-10">
      <div class="text-lg text-bold mb-2">Want to crack JEE/NEET?</div>
      <div class="text-sm text-center">Book a free class today with LambdaCube - Your personal coach for JEE/NEET preperation</div>
    </div>
  </div>
</a>
