  <div class="h-px mx-4 my-10 bg-blue-100"></div>
  <a href="https://lambdacube.in/book-a-free-demo/">
    <div class="relative flex flex-col items-center justify-center lg:w-1/2 overflow-y-hidden mx-4 sm:mx-10 lg:mx-auto my-10 max-h-24 rounded-lg cursor-pointer">
      <img src="./assets/blue-wave.png" alt="" class="rounded rounded-lg">
      <div class="absolute text-white flex flex-col items-center px-2">
        <div class="text-sm sm:text-lg text-bold mb-2">Want to crack JEE/NEET?</div>
        <div class="text-sm sm:text-sm text-center">Book a free class today with LambdaCube - Your personal coach for JEE/NEET preperation</div>
      </div>
    </div>
  </a>
<div class="bg-white">
  <div class="flex flex-col items-center text-center justify-items-center min-h-lg py-24 px-10 bg-top bg-cover" style="background-image: url('./assets/wave-bg-2.png'); min-height: 20rem">
    <h1 class="text-xl"><strong>Lambdacube:</strong> The best 1:1 online coaching for JEE/NEET preparation.</h1>
  </div>
  <div class="grid grid-cols-2 gap-16 items-center">
    <div class="flex relative right-14 sm:right-0">
      <div class="flex-grow bg-accent"></div>
      <div class="flex-none w-64 h-64 sm:w-80 sm:h-80 lg:w-96 lg:h-96 rounded-full rounded-tl-none rounded-bl-none bg-accent"></div>
    </div>
    <div>
      <div class="text-bold text-lg sm:text-2xl">a</div>
      <div class="text-xs sm:text-sm mb-3">Individual driven approach</div>
      <div class="text-bold text-lg sm:text-2xl">b</div>
      <div class="text-xs sm:text-sm mb-3">One stop solution</div>
      <div class="text-bold text-lg sm:text-2xl">c</div>
      <div class="text-xs sm:text-sm mb-3">Flexible timing policy</div>
      <div class="text-bold text-lg sm:text-2xl">d</div>
      <div class="text-xs sm:text-sm mb-3">Powerful feedback mechanism</div>
      <div class="text-bold text-lg sm:text-2xl">e</div>
      <div class="text-xs sm:text-sm mb-3">Targeted approach</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-items-center text-center my-10">
    <a href="https://lambdacube.in/book-a-free-demo/" class="p-6 max-w-xs text-bold text-xl bg-accent text-black rounded-lg cursor-pointer" style="max-width: 250px">Book a consultation session now!</a>
  </div>
</div>
